---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
	href={href}
	class="transition m-4 text-red-600 hover:scale-125"
	class:list={[className, { active: isActive }]}
	{...props}
>
	<slot />
</a>
