---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="p-4">
	<nav class="grow flex flex-row justify-center lg:justify-normal">
		<HeaderLink href="https://chandramdutta.me" target="_blank">
			Daefolio
		</HeaderLink>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://twitter.com/ChandramDutta" target="_blank">
			Twitter
		</HeaderLink>
		<HeaderLink href="https://github.com/Chandram-Dutta" target="_blank">
			GitHub
		</HeaderLink>
	</nav>
</header>
